<div id="<%= dom_id notice %>">
  <p>
    <strong>Title:</strong>
    <%= notice.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= notice.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= notice.image %>
  </p>

</div>
